In [1]:
import pandas as pd

In [2]:
pd.read_csv('chunk_after_preproc1.csv', nrows =5)

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,16,11,306,649,1970,1,2017-03-04,units,2.0
1,16,11,306,649,1970,1,2017-03-04,values,1540.0
2,16,11,306,649,1970,1,2016-05-02,units,4.0
3,16,11,306,649,1970,1,2016-05-02,values,3080.0
4,16,11,306,649,1970,1,2016-10-24,units,2.0

In [ ]:
#correr mais tarde para testar
a1 = pd.read_csv('chunk_after_preproc1.csv')

for no in range(2,20):
    a1 = a1.append(pd.read_csv('chunk_after_preproc' + str(no) + '.csv'))
    

a1

MemoryError:

In [ ]:
a1.to_csv('merge1', index=False)

ATE AQUI

In [2]:
data = pd.read_csv('merge1')

In [3]:
data.to_csv('data_pp.zip', index=False,
          compression=compression_opts)

NameError: name 'compression_opts' is not defined

In [9]:
batch_no = 1
for chunk in pd.read_csv('data.csv', chunksize=10000000):
    chunk.to_csv('chunkfile' + str(batch_no) + '.csv', index=False)
    batch_no +=1

In [7]:
def pre_process(ds):
    ds['ProductFamily_ID'] = ds['ProductFamily_ID'].str.split('_').str[1]
    ds['ProductCategory_ID'] = ds['ProductCategory_ID'].str.split('_').str[1]
    ds['ProductBrand_ID'] = ds['ProductBrand_ID'].str.split('_').str[1]
    ds['ProductName_ID'] = ds['ProductName_ID'].str.split('_').str[1]
    ds['ProductPackSKU_ID'] = ds['ProductPackSKU_ID'].str.split('_').str[1]
    ds['Point-of-Sale_ID'] = ds['Point-of-Sale_ID'].str.split('_').str[1]
    ds['Measures'] = ds['Measures'].str.split(' ').str[1]
    ds['Date'] = pd.to_datetime(ds['Date'])
    dS = ds.sort_values(by='Date')

In [8]:
for no in range(1,20):
    df = pd.read_csv('chunkfile' + str(no) + '.csv')
    pre_process(df)
    df.to_csv('chunk_after_preproc' + str(no) + '.csv', index=False)

In [2]:
a1 = pd.read_csv('chunk_after_preproc1.csv')
a2 = pd.read_csv('chunk_after_preproc2.csv')

In [ ]:
a3 = pd.read_csv('chunk_after_preproc1.csv')
a4 = pd.read_csv('chunk_after_preproc2.csv')
a5 = pd.read_csv('chunk_after_preproc1.csv')
a6 = pd.read_csv('chunk_after_preproc2.csv')

In [4]:
a1 = a1.append(a2)

a1

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,16,11,306,649,1970,1,2017-03-04,units,2.0
1,16,11,306,649,1970,1,2017-03-04,values,1540.0
2,16,11,306,649,1970,1,2016-05-02,units,4.0
3,16,11,306,649,1970,1,2016-05-02,values,3080.0
4,16,11,306,649,1970,1,2016-10-24,units,2.0
5,16,11,306,649,1970,1,2016-10-24,values,1540.0
6,16,11,306,649,1970,1,2017-10-13,units,2.0
7,16,11,306,649,1970,1,2017-10-14,units,2.0
8,16,11,306,649,1970,1,2017-10-15,units,2.0
9,16,11,306,649,1970,1,2017-10-13,values,1620.0
10,16,11,306,649,1970,1,2017-10-14,values,1620.0
11,16,11,306,649,1970,1,2017-10-15,values,1620.0
12,16,11,306,649,1970,1,2016-03-29,units,2.0
13,16,11,306,649,1970,1,2016-03-29,values,1540.0
14,16,11,306,649,1970,1,2017-10-19,units,2.0
15,16,11,306,649,1970,1,2017-10-24,units,2.0
16,16,11,306,649,1970,1,2017-10-26,units,2.0
17,16,11,306,649,1970,1,2017-10-19,values,1620.0
18,16,11,306,649,1970,1,2017-10-24,values,1620.0
19,16,11,306,649,1970,1,2017-10-26,values,1620.0
20,16,11,306,649,1970,1,2016-06-17,units,2.0
21,16,11,306,649,1970,1,2016-06-22,units,2.0
22,16,11,306,649,1970,1,2016-06-28,units,2.0
23,16,11,306,649,1970,1,2016-06-17,values,1540.0
24,16,11,306,649,1970,1,2016-06-22,values,1540.0
25,16,11,306,649,1970,1,2016-06-28,values,1540.0
26,16,11,306,649,1970,1,2016-10-07,units,2.0
27,16,11,306,649,1970,1,2016-10-13,units,2.0
28,16,11,306,649,1970,1,2016-10-07,values,1540.0
29,16,11,306,649,1970,1,2016-10-13,values,1540.0
...,...,...,...,...,...,...,...,...,...
9999970,12,178,1229,2324,7146,41,2016-01-14,units,1.0
9999971,12,178,1229,2324,7146,41,2016-01-15,units,1.0
9999972,12,178,1229,2324,7146,41,2016-01-05,values,627.0
9999973,12,178,1229,2324,7146,41,2016-01-07,values,627.0
9999974,12,178,1229,2324,7146,41,2016-01-08,values,2508.0
9999975,12,178,1229,2324,7146,41,2016-01-11,values,1254.0
9999976,12,178,1229,2324,7146,41,2016-01-12,values,627.0
9999977,12,178,1229,2324,7146,41,2016-01-13,values,1254.0
9999978,12,178,1229,2324,7146,41,2016-01-14,values,627.0
9999979,12,178,1229,2324,7146,41,2016-01-15,values,627.0
9999980,12,178,1229,2324,7146,41,2017-12-04,units,7.0
9999981,12,178,1229,2324,7146,41,2017-12-05,units,1.0
9999982,12,178,1229,2324,7146,41,2017-12-07,units,2.0
9999983,12,178,1229,2324,7146,41,2017-12-15,units,4.0
9999984,12,178,1229,2324,7146,41,2017-12-04,values,4676.0
9999985,12,178,1229,2324,7146,41,2017-12-05,values,668.0
9999986,12,178,1229,2324,7146,41,2017-12-07,values,1336.0
9999987,12,178,1229,2324,7146,41,2017-12-15,values,2672.0
9999988,12,178,1229,2324,7146,41,2016-12-21,units,2.0
9999989,12,178,1229,2324,7146,41,2016-12-24,units,4.0
9999990,12,178,1229,2324,7146,41,2016-12-26,units,2.0
9999991,12,178,1229,2324,7146,41,2016-12-27,units,2.0
9999992,12,178,1229,2324,7146,41,2016-12-28,units,1.0
9999993,12,178,1229,2324,7146,41,2016-12-30,units,3.0
9999994,12,178,1229,2324,7146,41,2016-12-31,units,1.0
9999995,12,178,1229,2324,7146,41,2016-12-21,values,1336.0
9999996,12,178,1229,2324,7146,41,2016-12-24,values,2672.0
9999997,12,178,1229,2324,7146,41,2016-12-26,values,1336.0
9999998,12,178,1229,2324,7146,41,2016-12-27,values,1336.0
9999999,12,178,1229,2324,7146,41,2016-12-28,values,668.0

In [ ]:
a1 = a1.append(a3)
a1 = a1.append(a4)
a1 = a1.append(a5)
a1 = a1.append(a6)

a1

In [25]:
a7 = pd.read_csv('chunk_after_preproc1.csv')
a8 = pd.read_csv('chunk_after_preproc2.csv')
a9 = pd.read_csv('chunk_after_preproc1.csv')
a10 = pd.read_csv('chunk_after_preproc2.csv')
a11 = pd.read_csv('chunk_after_preproc1.csv')
a12 = pd.read_csv('chunk_after_preproc2.csv')
a13 = pd.read_csv('chunk_after_preproc1.csv')
a14 = pd.read_csv('chunk_after_preproc2.csv')

In [26]:
a15 = pd.read_csv('chunk_after_preproc1.csv')
a15 = pd.read_csv('chunk_after_preproc2.csv')
a16 = pd.read_csv('chunk_after_preproc1.csv')
a17 = pd.read_csv('chunk_after_preproc2.csv')
a18 = pd.read_csv('chunk_after_preproc1.csv')
a19 = pd.read_csv('chunk_after_preproc2.csv')